[Unit]
Description=YunoHost DynDNS update timer

[Timer]
OnCalendar=*-*-* *:0/10:00
# TODO forky: Use RandomizedOffsetSec instead and remove FixedRandomDelay
RandomizedDelaySec=10m
FixedRandomDelay=1
Persistent=true

[Install]
WantedBy=timers.target
