[Unit]
Description=Entrypoint for the 'socket API', meant for ynh-portal to be able to trigger privileged actions related to user registrations and invites

[Socket]
ListenStream=/run/yunohost-socket-api.sock
# This is one of the critical point to secure the socket API by only allowing access to ynh-portal
# (+ the fact that only specific actions, related to user registration/invites, are allowed, with tight control on inputs)
SocketUser=ynh-portal
SocketMode=0600
Accept=yes

[Install]
WantedBy=sockets.target
