---
stages:
  - build
  - install
  - tests
  - lint
  - doc

default:
  tags:
    - yunohost-ci
  # All jobs are interruptible by default
  interruptible: true

variables:
  YNH_BUILD_DIR: "ynh-build"

include:
  - local: .gitlab/ci/build.gitlab-ci.yml
  - local: .gitlab/ci/install.gitlab-ci.yml
  - local: .gitlab/ci/test.gitlab-ci.yml
  - local: .gitlab/ci/lint.gitlab-ci.yml
  - local: .gitlab/ci/doc.gitlab-ci.yml
