*.py[co]

# Packages
*.egg
*.egg-info
*.swp
*.swo
*~
dist
build
eggs
parts
cache
var
sdist
develop-eggs
.installed.cfg
log

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# Translations
*.mo

# Mr Developer
.mr.developer.cfg

# moulinette lib
src/locales

# Test
src/tests/apps

# Tmp/local doc stuff
doc/bash-completion.sh
doc/bash_completion.d
doc/openapi.js
doc/openapi.json
doc/swagger
