[Unit]
Description=YunoHost mDNS service
After=network.target

[Service]
User=mdns
Group=mdns
Type=simple
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/yunomdns
StandardOutput=syslog

[Install]
WantedBy=default.target
