# This override config restarts and reloads fail2ban when nftables is started/reloaded

[Unit]
PartOf=nftables.service
ReloadPropagatedFrom=nftables.service
