# This maps domain to certificates to properly handle multi-domain context
# (also we need a comment in this file such that it's never empty to prevent regenconf issues)
{% for domain in domain_list.split() %}{{ domain }} /etc/yunohost/certs/{{ domain }}/key.pem /etc/yunohost/certs/{{ domain }}/crt.pem
{% endfor %}
