Source: yunohost
Section: utils
Priority: extra
Maintainer: YunoHost Contributors <contrib@yunohost.org>
Build-Depends: debhelper (>=9), dh-systemd, dh-python, python-all (>= 2.7), python-yaml, python-jinja2
Standards-Version: 3.9.6
X-Python-Version: >= 2.7
Homepage: https://yunohost.org/

Package: yunohost
Essential: yes
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
 , moulinette (>= 3.7), ssowat (>= 3.7)
 , python-psutil, python-requests, python-dnspython, python-openssl
 , python-apt, python-miniupnpc, python-dbus, python-jinja2
 , python-toml
 , apt, apt-transport-https
 , nginx, nginx-extras (>=1.6.2)
 , php-fpm, php-ldap, php-intl
 , mariadb-server, php-mysql | php-mysqlnd
 , openssh-server, iptables, fail2ban, dnsutils, bind9utils
 , openssl, ca-certificates, netcat-openbsd, iproute2
 , slapd, ldap-utils, sudo-ldap, libnss-ldapd, unscd, libpam-ldapd
 , dnsmasq, avahi-daemon, libnss-mdns, resolvconf, libnss-myhostname
 , postfix, postfix-ldap, postfix-policyd-spf-perl, postfix-pcre
 , dovecot-core, dovecot-ldap, dovecot-lmtpd, dovecot-managesieved, dovecot-antispam
 , rspamd (>= 1.6.0), opendkim-tools, postsrsd, procmail, mailutils
 , redis-server
 , metronome
 , git, curl, wget, cron, unzip, jq
 , lsb-release, haveged, fake-hwclock, equivs, lsof
Recommends: yunohost-admin
 , ntp, inetutils-ping | iputils-ping
 , bash-completion, rsyslog
 , php-gd, php-curl, php-gettext, php-mcrypt
 , python-pip
 , unattended-upgrades
 , libdbd-ldap-perl, libnet-dns-perl
Suggests: htop, vim, rsync, acpi-support-base, udisks2
Conflicts: iptables-persistent
 , moulinette-yunohost, yunohost-config
 , yunohost-config-others, yunohost-config-postfix
 , yunohost-config-dovecot, yunohost-config-slapd
 , yunohost-config-nginx, yunohost-config-amavis
 , yunohost-config-mysql, yunohost-predepends
 , apache2, bind9
Replaces: moulinette-yunohost, yunohost-config
 , yunohost-config-others, yunohost-config-postfix
 , yunohost-config-dovecot, yunohost-config-slapd
 , yunohost-config-nginx, yunohost-config-amavis
 , yunohost-config-mysql, yunohost-predepends
Description: manageable and configured self-hosting server
 YunoHost aims to make self-hosting accessible to everyone. It configures
 an email, Web and IM server alongside a LDAP base. It also provides
 facilities to manage users, domains, apps and so.
 .
 This package contains YunoHost scripts and binaries to be used by the
 moulinette. It allows one to manage the server with a command-line tool
 and an API.
