#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh ${@} --with=python2,systemd

override_dh_installinit:
	dh_installinit -pyunohost --name=yunohost-api --noscripts
	dh_installinit -pyunohost --name=yunohost-firewall --noscripts

override_dh_systemd_enable:
	dh_systemd_enable --name=yunohost-api
	dh_systemd_enable --name=yunohost-firewall --no-enable

override_dh_systemd_start:
	dh_systemd_start --restart-after-upgrade yunohost-api.service
