#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh ${@} --with python3

override_dh_auto_build:
	# Generate bash completion file
	mkdir -p doc/bash_completion.d
	python3 doc/generate_bash_completion.py -o doc/bash_completion.d/yunohost
	python3 doc/generate_manpages.py --gzip --output doc/yunohost.8.gz
