[Unit]
Description=YunoHost API Server
After=network.target

[Service]
Type=simple
Environment=DAEMON_OPTS=
EnvironmentFile=-/etc/default/yunohost-api
ExecStart=/usr/bin/yunohost-api $DAEMON_OPTS
Restart=always
RestartSec=5
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
