[Unit]
Description=YunoHost API Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/yunohost-api
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
