[Unit]
Description=YunoHost Firewall
Requires=network.target
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/yunohost firewall reload
ExecReload=/usr/bin/yunohost firewall reload
ExecStop=/usr/bin/yunohost firewall stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
