[Unit]
Description=YunoHost API Server
After=network.target

[Service]
Type=simple
Environment=DAEMON_OPTS=
EnvironmentFile=-/etc/default/yunohost-api
ExecStart=/usr/bin/yunohost-api $DAEMON_OPTS
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
