# Gotta force the usage of resolvers for spamhaus,
# Which will otherwise complain that we may be using an open resolver...
# cf https://www.spamhaus.com/resource-center/successfully-accessing-spamhauss-free-block-lists-using-a-public-dns/#yes-but-why-block-queries-from-public-recursive-name-servers
# We pick one of spamhaus' a/b/c/d/e nameservers, cf https://multirbl.valli.org/detail/zen.spamhaus.org.html
# And kind of hard-code the corresponding IPs because in practice dnsmasq doesn't allow to have a domain name for the resolver part of server= :| ...
# Fun-fact : did you know that AAAA is the name of IPv6 DNS records, but also the sound you make when debugging network and DNS??? #TheMoreYouKnow

{% set spamhaus_ips = spamhaus_ips.strip().split(' ') %}

{% for spamhaus_ip in spamhaus_ips %}
server=/*.zen.spamhaus.org/{{ spamhaus_ip }}
{% endfor %}
